body {
    text-align: center;
    font-family: 'Inter', sans-serif;
}

.result {
    border: 2px solid black;
}


.container {
    border: 2px solid black;
}

.upperdiv {
    border: 2px solid black;
}
